In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
danamon_report = pd.read_csv('Danamon Report 7 Mar 24.csv')

In [4]:
danamon_report_raw = pd.read_csv('Danamon Report 7 Mar 24.csv')

In [5]:
danamon_gds = pd.read_csv('GDS Danamon 7 Mar 24.csv')

In [6]:
danamon_gds_raw = pd.read_csv('GDS Danamon 7 Mar 24.csv')

In [7]:
danamon_report['Transaction Amount']

0          30234
1          17133
2         101181
3         223978
4         100780
           ...
371816     10321
371817     62870
371818     49882
371819     24787
371820     60000
Name: Transaction Amount, Length: 371821, dtype: int64

In [8]:
danamon_report = danamon_report.drop(['Group Name','Merchant ID','NMID','MPAN','Merchant Name', 'QR ID', "QR Type", 'RRN','Terminal ID','Customer PAN', 'Issuer Code','Invoice No.', 'Merchant Partner Acc. No', 'Merchant Partner Acc. Name', 'Note'], axis=1)

In [9]:
danamon_gds

,created_datetime,last_updated_datetime,settlement_time,settlement_amount,username,product_type,charge_vendor_code,charge_status,admin_fee,base_admin_fee,admin_fee_invoice,deduction_cost,deduction_cost_gross,transaction_amount,merchant_id,id,qr_id,Transaction Channel Type,Transaction SN
0,3/7/24 23:59,3/7/24 23:59,NaN,100074,nararyatech,Payment Checkout,DANAMON,SUCCESS,706,636,0,428.31500,705.460,100780,1039570759,2403MRT20SGS,2403BWIPOMS9,OFF_US,000083560372
1,3/7/24 23:59,3/7/24 23:59,NaN,49037,agrapanatekno,Payment Checkout,DANAMON,SUCCESS,346,312,0,209.87775,345.681,49383,1039810524,2403NWWD0CZ3,2403N1XGTOKN,OFF_US,000083560302
2,3/7/24 23:59,3/7/24 23:59,NaN,100074,agrapanatekno,Payment Checkout,DANAMON,SUCCESS,706,636,0,428.31500,705.460,100780,1039810524,2403HD670MQY,24039CJWIG7J,OFF_US,000083560354
3,3/7/24 23:59,3/7/24 23:59,NaN,50037,agrapanatekno,Payment Checkout,DANAMON,SUCCESS,353,318,0,214.15750,352.730,50390,1039810524,240371AN4RFE,24031XJWVEZ7,OFF_US,000083560279
4,3/7/24 23:59,3/7/24 23:59,NaN,297669,taratara,Payment Checkout,DANAMON,SUCCESS,2331,2100,0,1275.00000,2100.000,300000,1039225807,2403QJPZIARL,2403BUTRSW8T,OFF_US,29ee040a2105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371817,3/6/24 23:54,3/7/24 0:00,NaN,31776,abhitech,Payment Checkout,DANAMON,SUCCESS,224,202,0,136.00000,224.000,32000,1039460680,2403XRVYPUI3,2403ARTQ2PY5,OFF_US,0ztob0t59139
371818,3/6/24 23:53,3/7/24 0:02,NaN,25818,abhitech,Payment Checkout,DANAMON,SUCCESS,182,164,0,110.50000,182.000,26000,1039460680,2403MX69HRNW,2403VM5NP7VW,OFF_US,0ztod0q59352
371819,3/6/24 23:52,3/7/24 0:09,NaN,100890,webbizsolutions,Payment Checkout,DANAMON,SUCCESS,790,712,0,432.14000,711.760,101680,1039989721,2403YT9M3EK7,2403Q33R35RH,OFF_US,000079372897
371820,3/6/24 23:39,3/7/24 0:04,NaN,9930,nbatech,Payment Routing Acceptance,DANAMON,SUCCESS,70,63,0,42.50000,70.000,10000,1039542942,24031V8Q5BRH,2403CV4CP1NQ,OFF_US,295b03fe7277
371821,3/5/24 19:44,3/7/24 15:56,NaN,50037,agrapanatekno,Payment Checkout,DANAMON,SUCCESS,353,318,0,0.00000,0.000,50390,1039810524,2403IF6R9901,24031K01TZS4,OFF_US,000081651010

In [10]:
danamon_gds = danamon_gds.drop(['settlement_time','charge_vendor_code','merchant_id','id','Transaction SN'],axis=1)

In [11]:
danamon_gds[danamon_gds.duplicated()]

Empty DataFrame
Columns: [created_datetime, last_updated_datetime, settlement_amount, username, product_type, charge_status, admin_fee, base_admin_fee, admin_fee_invoice, deduction_cost, deduction_cost_gross, transaction_amount, qr_id, Transaction Channel Type]
Index: []

In [12]:
gds_duplicated = danamon_gds[danamon_gds.duplicated()]

In [13]:
danamon_gds = danamon_gds.drop_duplicates()

In [14]:
danamon_report[danamon_report.duplicated()]

Empty DataFrame
Columns: [Date, Time, Note (Bill ID), No Ref, Transaction Amount, Status, Settlement Amount, MDR, On us / As Acquiring, Issuer Name]
Index: []

In [15]:
dash_duplicated = danamon_report[danamon_report.duplicated()]

In [16]:
danamon_report = danamon_report.drop_duplicates()

In [17]:
print(len(danamon_report))
print(len(danamon_gds))

371821
371822

In [18]:
danamon_report['Note (Bill ID)'] = danamon_report['Note (Bill ID)'].astype('str').apply(lambda x: x.zfill(16))

In [19]:
danamon_gds['qr_id'] = danamon_gds['qr_id'].astype('str').apply(lambda x: x.zfill(16))

In [20]:
index_gds = danamon_gds[danamon_gds['qr_id'].str.contains('[A-Za-z]')].index

In [21]:
danamon_gds.loc[index_gds, 'qr_id'] = danamon_gds.loc[index_gds, 'qr_id'].str.replace('0000', "")

In [22]:
cekk = danamon_gds[danamon_gds['qr_id'].str.contains('0000')].index

In [23]:
danamon_gds.loc[cekk, 'qr_id'] = danamon_gds.loc[cekk, 'qr_id'].str.replace('0000', "")

In [24]:
index_report = danamon_report[danamon_report['Note (Bill ID)'].str.contains('[A-Za-z]')].index

In [25]:
danamon_report.loc[index_report, 'Note (Bill ID)'] = danamon_report.loc[index_report, 'Note (Bill ID)'].str.replace('0000', "")

In [26]:
cekk_report = danamon_report[danamon_report['Note (Bill ID)'].str.contains('0000')].index

In [27]:
danamon_report.loc[cekk_report, 'Note (Bill ID)'] = danamon_report.loc[cekk_report, 'Note (Bill ID)'].str.replace('0000', "")

In [28]:
#danamon_report['Transaction Amount'] = danamon_report['Transaction Amount'].str.replace(',','')

In [29]:
danamon_report['Transaction Amount'] = pd.to_numeric(danamon_report['Transaction Amount'])

In [30]:
#multiple = danamon_gds[danamon_gds['qr_id'].duplicated(keep=False)]

In [31]:
#multiple

In [32]:
danamon_gds['last_updated_datetime'] = pd.to_datetime(danamon_gds['last_updated_datetime']).dt.date

/var/folders/sg/v7nz4brs3sq_pn793b_nw89c0000gp/T/ipykernel_30643/374004967.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  danamon_gds['last_updated_datetime'] = pd.to_datetime(danamon_gds['last_updated_datetime']).dt.date

In [33]:
danamon_report = danamon_report.add_suffix('_DASH')

In [34]:
danamon_gds = danamon_gds.add_suffix('_GDS')

In [35]:
data_compare = pd.merge(danamon_report,danamon_gds, left_on='Note (Bill ID)_DASH', right_on='qr_id_GDS', how='outer', indicator=True)

In [36]:
data_compare

,Date_DASH,Time_DASH,Note (Bill ID)_DASH,No Ref_DASH,Transaction Amount_DASH,Status_DASH,Settlement Amount_DASH,MDR_DASH,On us / As Acquiring_DASH,Issuer Name_DASH,...,charge_status_GDS,admin_fee_GDS,base_admin_fee_GDS,admin_fee_invoice_GDS,deduction_cost_GDS,deduction_cost_gross_GDS,transaction_amount_GDS,qr_id_GDS,Transaction Channel Type_GDS,_merge
0,3/7/24,11:59:57 PM,24032ES66C51,MW2403077410261,30234,SUCCESS - PENDING SETTLEMENT,30022.36,211.64,As Acquiring,GOPAY,...,SUCCESS,212,191,0,128.49450,211.638,30234,24032ES66C51,OFF_US,both
1,3/7/24,11:59:57 PM,2403VG7IK3HT,MW2403077396799,17133,SUCCESS - PENDING SETTLEMENT,17013.07,119.93,As Acquiring,BANK BCA,...,SUCCESS,120,108,0,72.81525,119.931,17133,2403VG7IK3HT,OFF_US,both
2,3/7/24,11:59:57 PM,2403V7Y7RZBB,MW2403077396800,101181,SUCCESS - PENDING SETTLEMENT,100472.73,708.27,As Acquiring,BANK BRI,...,SUCCESS,787,709,0,430.01925,708.267,101181,2403V7Y7RZBB,OFF_US,both
3,3/7/24,11:59:55 PM,2403XPC9DCB4,MW2403077410236,223978,SUCCESS - PENDING SETTLEMENT,222410.15,1567.85,As Acquiring,BANK BNI,...,SUCCESS,1740,1568,0,951.90650,1567.846,223978,2403XPC9DCB4,OFF_US,both
4,3/7/24,11:59:55 PM,2403BWIPOMS9,MW2403077410257,100780,SUCCESS - PENDING SETTLEMENT,100074.54,705.46,As Acquiring,BANK BCA,...,SUCCESS,706,636,0,428.31500,705.460,100780,2403BWIPOMS9,OFF_US,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371817,3/7/24,12:00:03 AM,2403D47PYBE2,MW2403066974148,10321,SUCCESS - PENDING SETTLEMENT,10248.75,72.25,As Acquiring,BANK BCA,...,SUCCESS,111,100,0,43.86425,72.247,10321,2403D47PYBE2,OFF_US,both
371818,3/7/24,12:00:03 AM,2403L0ZVJLKR,MW2403066974147,62870,SUCCESS - PENDING SETTLEMENT,62429.91,440.09,As Acquiring,DANA,...,SUCCESS,490,441,0,267.19750,440.090,62870,2403L0ZVJLKR,OFF_US,both
371819,3/7/24,12:00:03 AM,2403TXAH05HL,MW2403066974144,49882,SUCCESS - PENDING SETTLEMENT,49532.82,349.18,As Acquiring,DANA,...,SUCCESS,389,350,0,211.99850,349.174,49882,2403TXAH05HL,OFF_US,both
371820,3/7/24,12:00:02 AM,2403DZ8VQWYK,MW2403066974140,24787,SUCCESS - PENDING SETTLEMENT,24613.49,173.51,As Acquiring,DANA,...,SUCCESS,193,174,0,105.34475,173.509,24787,2403DZ8VQWYK,OFF_US,both
371821,3/7/24,12:00:02 AM,2403VVQ1KSEY,MW2403066974139,60000,SUCCESS - PENDING SETTLEMENT,59580.00,420.00,As Acquiring,DANA,...,SUCCESS,400,360,0,255.00000,420.000,60000,2403VVQ1KSEY,OFF_US,both

In [37]:
#if (data_compare['Note (Bill ID)'] == data_compare['qr_id']) & (data_compare['Transaction Amount'] == data_compare['transaction_amount'])
 #   data_compare['_merge'] == 

#df['_merge'] = ['Recon' if data_compare['Note (Bill ID)'] == data_compare['qr_id']) & (data_compare['Transaction Amount'] == data_compare['transaction_amount'] else 'Unrecon' for score in df['Score']]

In [38]:
#data_compare['test'] = ((data_compare['Note (Bill ID)'] == data_compare['qr_id']) & (data_compare['Transaction Amount'] == data_compare['transaction_amount'])):

#data_compare['Flag'] = data_compare.apply(flag_df, axis = 1)
#flag_df(data_compare).astype("category")

In [39]:
data_compare['Match?'] = np.where((data_compare['Note (Bill ID)_DASH'] == data_compare['qr_id_GDS']) & (data_compare['Transaction Amount_DASH'] == data_compare['transaction_amount_GDS']) , 'Recon', 'Unrecon')

In [40]:
data_compare[data_compare['Match?'] == 'Unrecon']

,Date_DASH,Time_DASH,Note (Bill ID)_DASH,No Ref_DASH,Transaction Amount_DASH,Status_DASH,Settlement Amount_DASH,MDR_DASH,On us / As Acquiring_DASH,Issuer Name_DASH,...,admin_fee_GDS,base_admin_fee_GDS,admin_fee_invoice_GDS,deduction_cost_GDS,deduction_cost_gross_GDS,transaction_amount_GDS,qr_id_GDS,Transaction Channel Type_GDS,_merge,Match?
174037,3/7/24,3:56:44 PM,24031K01TZS4,MW2403077223058,14000,SUCCESS,13902.0,98.0,As Acquiring,BANK BCA,...,353,318,0,0.0,0.0,50390,24031K01TZS4,OFF_US,both,Unrecon

In [41]:
print(data_compare['_merge'].cat.categories)

Index(['left_only', 'right_only', 'both'], dtype='object')

In [42]:
data_compare['_merge'] = data_compare['_merge'].cat.rename_categories({'left_only': 'Dash Only', 'right_only': 'GDS Only'})

In [43]:
unrecon = data_compare[data_compare['Match?'] == 'Unrecon']

In [44]:
indexunrecon = data_compare[data_compare['Match?'] == 'Unrecon'].index

In [45]:
data_compare = data_compare.drop(indexunrecon)

In [46]:
with pd.ExcelWriter("Qris Danamon 7 Mar 24 New Template.xlsx") as writer:
    danamon_gds_raw.to_excel(writer, sheet_name="GDS Raw", index=False)
    danamon_report_raw.to_excel(writer, sheet_name="Dash Report Raw", index=False)
    data_compare.to_excel(writer, sheet_name="Line Per Line Recon", index=False)
    unrecon.to_excel(writer, sheet_name="Unrecon", index=False)
    dash_duplicated.to_excel(writer, sheet_name="Multiple Note Bill ID Dashboard", index=False)
    gds_duplicated.to_excel(writer, sheet_name="Multiple qr_id GDS", index=False)

In [47]:
print('done')

done

In [48]:
danamon_report_raw.dtypes

Date                           object
Time                           object
Group Name                     object
Merchant ID                     int64
NMID                           object
MPAN                          float64
Merchant Name                  object
QR ID                           int64
Note (Bill ID)                 object
QR Type                        object
No Ref                         object
RRN                            object
Terminal ID                    object
Transaction Amount              int64
Status                         object
Settlement Amount             float64
MDR                           float64
On us / As Acquiring           object
Customer PAN                  float64
Issuer Code                     int64
Issuer Name                    object
Invoice No.                   float64
Merchant Partner Acc. No      float64
Merchant Partner Acc. Name    float64
Note                           object
dtype: object

In [49]:
NIC = danamon_report_raw[['Date','On us / As Acquiring', 'Note (Bill ID)','Transaction Amount','MDR','Settlement Amount']]

In [50]:
cek_acquiring = NIC[NIC['On us / As Acquiring'] == 'On Us'].index

In [51]:
pd.options.mode.copy_on_write = True

In [52]:
NIC['Rev Sharing'] = np.nan

In [53]:
NIC.loc[cek_acquiring, 'Rev Sharing'] = NIC['Transaction Amount'] * 0.0035

In [54]:
offus = NIC[NIC['Rev Sharing'].isna()].index

In [55]:
NIC.loc[offus, 'Rev Sharing'] = NIC['Transaction Amount'] * 0.00425

In [56]:
NIC['Rev Sharing'] = NIC['Rev Sharing'].round(2)

In [57]:
NIC.rename(columns={'Transaction Amount' : 'TPV', 'MDR' : 'MM Cost', 'On us / As Acquiring' : 'Channel Type'}, inplace=True)

In [58]:
NIC = NIC.groupby(['Date','Channel Type']).agg({'Note (Bill ID)':'count','TPV' : 'sum', 'MM Cost' :'sum', 'Settlement Amount' : 'sum', 'Rev Sharing' : 'sum' })

In [59]:
NIC.rename(columns = {'Note (Bill ID)' : "#Trx"}, inplace = True)

In [60]:
with pd.ExcelWriter("NIC Qris Danamon.xlsx") as writer:
    NIC.to_excel(writer, sheet_name="NIC Qris Danamon", index=True) #notes : using this code only for the first date

In [61]:
reader = pd.read_excel('NIC Qris Danamon.xlsx')

In [62]:
with pd.ExcelWriter('NIC Qris Danamon.xlsx',
                    mode='a', if_sheet_exists = 'overlay') as writer:  
    NIC.to_excel(writer, sheet_name='NIC Qris Danamon', startrow = len(reader) + 1, header=False, index=True)

In [63]:
print("Done")

Done

In [64]:
#groupByUsername = data_compare[['username','product_type','Transaction Channel Type','transaction_amount','deduction_cost_gross','admin_fee', 'admin_fee_invoice']]

In [65]:
#groupByUsername = groupByUsername.groupby(['username','product_type','Transaction Channel Type']).agg({'username':'count','transaction_amount' : 'sum', 'deduction_cost_gross' :'sum', 'admin_fee' : 'sum', 'admin_fee_invoice' : 'sum' })

In [66]:
#groupByUsername

In [67]:
#groupByUsername.rename(columns={"username": "#Trx"}, inplace=True)

In [68]:
#groupByUsername

In [69]:
#reader = pd.read_excel('nobu append.xlsx')

In [70]:
#with pd.ExcelWriter("PY Danamon 14 mar 24 tess.xlsx") as writer:
    #data_compare.to_excel(writer, sheet_name="Line Per Line", index=False)
    #groupByUsername.to_excel(writer, sheet_name="GroupbyUsername", index=True)
    #unrecon.to_excel(writer, sheet_name="multiple qr id gds", index=False)

In [71]:
#with pd.ExcelWriter('nobu append.xlsx',
                    #mode='a', if_sheet_exists = 'overlay') as writer:  
    #data_compare.to_excel(writer, sheet_name='Line Per Line', startrow = len(reader) + 1, header=True, index=False)

In [72]:
#print("done")