In [1]:
import pandas as pd

In [353]:
df1 = pd.read_csv('GDS Shopee 28 Dec 23.csv')

In [169]:
#df1['Transaction Amount'] = df1['Transaction Amount'].astype(int)

In [238]:
df1.dtypes

Created Date            object
Last Updated Date       object
Column1                 object
Transaction Amount       int64
Username                object
is_testing_account        bool
Type of Transaction     object
Status                  object
Referral ID             object
admin_fee              float64
base_admin_fee         float64
admin_fee_invoice      float64
deduction_cost         float64
dtype: object

In [354]:
df2 = pd.read_csv('Report Shopee 28 Dec 23.csv')

In [230]:
df2.dtypes

Merchant Host                    object
Partner Merchant ID              object
Merchant/Store Name              object
Transaction Type                 object
Merchant Scope                   object
Transaction ID                    int64
Reference ID                     object
Parent ID                       float64
External Reference ID            object
Issuer Identifier                object
Transaction Amount                int64
Fee (MDR)                         int64
Settlement Amount                object
Terminal ID                      object
Create Time                      object
Update Time                      object
Adjustment Reason               float64
Entity ID                         int64
Fee (Cofunding)                   int64
Reward Amount                   float64
Reward Type                      object
Promo Type                       object
Payment Method                   object
Currency Code                    object
Voucher Promotion Event Name    float64
Fee (Withdrawal)                float64
dtype: object

In [93]:
#merged = pd.merge(df1, df2, left_on='Referral ID',right_on='External Reference ID', how='outer')

In [372]:
#find the duplicated
gds_duplicated = df1[df1['Referral ID'].duplicated()]

In [400]:
gds_duplicated

,Created Date,Last Updated Date,Column1,Transaction Amount,Username,is_testing_account,Type of Transaction,Status,Referral ID,admin_fee,base_admin_fee,admin_fee_invoice,deduction_cost
1,12/28/23 23:59,12/28/23,11:59:41,40000,payhere,False,SHOPEEPAY_JUMPAPP,SUCCESS,2312MXP566F4,799.0,720.0,0.0,360.0
2,12/28/23 23:59,12/28/23,11:59:41,40000,payhere,False,SHOPEEPAY_JUMPAPP,SUCCESS,2312MXP566F4,799.0,720.0,0.0,360.0
4,12/28/23 23:59,12/28/23,11:59:56,100000,andalanmotors,False,SHOPEEPAY_JUMPAPP,SUCCESS,2312AEK3UZFL,2530.0,2279.0,0.0,900.0
5,12/28/23 23:59,12/28/23,11:59:56,100000,andalanmotors,False,SHOPEEPAY_JUMPAPP,SUCCESS,2312AEK3UZFL,2530.0,2279.0,0.0,900.0
6,12/28/23 23:59,12/28/23,11:59:56,100000,andalanmotors,False,SHOPEEPAY_JUMPAPP,SUCCESS,2312AEK3UZFL,2530.0,2279.0,0.0,900.0

In [374]:
dash_duplicated = df2[df2['External Reference ID'].duplicated()]

In [375]:
dash_duplicated

Empty DataFrame
Columns: [Merchant Host, Partner Merchant ID, Merchant/Store Name, Transaction Type, Merchant Scope, Transaction ID, Reference ID, Parent ID, External Reference ID, Issuer Identifier, Transaction Amount, Fee (MDR), Settlement Amount, Terminal ID, Create Time, Update Time, Adjustment Reason, Entity ID, Fee (Cofunding), Reward Amount, Reward Type, Promo Type, Payment Method, Currency Code, Voucher Promotion Event Name, Fee (Withdrawal)]
Index: []

[0 rows x 26 columns]

In [376]:
#Check number of rows each dataframe
print(len(df1))
print(len(df2))

4063
4059

In [384]:
df1 = df1.drop_duplicates()

In [395]:
len(df1)

4058

Create New dataframe to input necessary column

In [385]:
new_df = df1[['Referral ID','Transaction Amount']].copy()

In [386]:
new_df2 = df2[['External Reference ID','Transaction Amount']].copy()

In [85]:
#new_df['report id'] = df2['External Reference ID']

In [387]:
new_df['Transaction Amount'] = new_df['Transaction Amount'].astype(int)

In [86]:
#new_df['amount'] = df2['Transaction Amount']

In [338]:
#new_df2.rename(columns={"External Reference ID": "Referral ID"}, inplace=True)

In [388]:
new_df2

     External Reference ID  Transaction Amount
0             2312YRX4Z9VT               43000
1             23120G9QT4MG               99000
2             23123PFGB6Z9               49000
3             2312PIDCTN5N               18000
4             23122YM28AA3              141088
...                    ...                 ...
4054          23121MUUV74M               50000
4055          2312D66BEHRF             4000000
4056          23121DDS7IP6              100000
4057          2312DTNU78JI               91000
4058       2312YRX4Z9VTTTT               43000

[4059 rows x 2 columns]

In [389]:
data_compare = pd.merge(new_df,new_df2, left_on='Referral ID', right_on='External Reference ID', how='outer', indicator=True)
#data_compare = pd.merge(new_df,new_df2, how='outer', on='Referral ID' ,suffixes = ('_left', '_right'))

In [390]:
data_compare

,Referral ID,Transaction Amount_x,External Reference ID,Transaction Amount_y,_merge
0,2312MXP566F4,40000.0,2312MXP566F4,40000,both
1,2312AEK3UZFL,100000.0,2312AEK3UZFL,100000,both
2,2312P4HAQ6L3,60000.0,2312P4HAQ6L3,60000,both
3,2312TUIJOPQS,10000.0,2312TUIJOPQS,10000,both
4,2312P9AACX70,200000.0,2312P9AACX70,200000,both
...,...,...,...,...,...
4054,23126S2RY25Y,10000.0,23126S2RY25Y,10000,both
4055,231270QYGB40,50000.0,231270QYGB40,50000,both
4056,2312Z1455GDO,100000.0,2312Z1455GDO,100000,both
4057,2312PB4KKRK9,600000.0,2312PB4KKRK9,600000,both
4058,NaN,NaN,2312YRX4Z9VTTTT,43000,right_only

In [391]:
data_compare['Transaction Amount_x'] = data_compare['Transaction Amount_x'].fillna(0).astype(int)

In [223]:
#data_compare['Transaction Amount_y'] = data_compare['Transaction Amount_y'].astype(str)

In [392]:
data_compare.dtypes

Referral ID                object
Transaction Amount_x        int64
External Reference ID      object
Transaction Amount_y        int64
_merge                   category
dtype: object

In [397]:
data_compare['Match?'] = np.where((data_compare['Transaction Amount_x'] == data_compare['Transaction Amount_y']) & (data_compare['Referral ID'] == data_compare['External Reference ID']) , True, False)

In [398]:
data_compare

,Referral ID,Transaction Amount_x,External Reference ID,Transaction Amount_y,_merge,Match?
0,2312MXP566F4,40000,2312MXP566F4,40000,both,True
1,2312AEK3UZFL,100000,2312AEK3UZFL,100000,both,True
2,2312P4HAQ6L3,60000,2312P4HAQ6L3,60000,both,True
3,2312TUIJOPQS,10000,2312TUIJOPQS,10000,both,True
4,2312P9AACX70,200000,2312P9AACX70,200000,both,True
...,...,...,...,...,...,...
4054,23126S2RY25Y,10000,23126S2RY25Y,10000,both,True
4055,231270QYGB40,50000,231270QYGB40,50000,both,True
4056,2312Z1455GDO,100000,2312Z1455GDO,100000,both,True
4057,2312PB4KKRK9,600000,2312PB4KKRK9,600000,both,True
4058,NaN,0,2312YRX4Z9VTTTT,43000,right_only,False

In [401]:
with pd.ExcelWriter("path to file\line per line.xlsx") as writer:
    data_compare.to_excel(writer, sheet_name="Line Per Line", index=False)
    gds_duplicated.to_excel(writer, sheet_name="Multiple", index=False)